.contacts{
    margin: 0 auto;
    margin-top: 114px;
    &__title{
        text-align: center;
        font-weight: 700;
        font-size: 34px;
        color:#070707;
    }
    &__subtitle{
        text-align: center;
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;
        color:#070707;
    }
    &__btn{
        height: 42px;
        width: 180px;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 86px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #FFFFFF;
        background-color: #070707;
        border-radius: 30px;
        border: 0;
    }
    &__social{
        display: flex;
        margin-top: 86px;
        width: 340px;
        height: 40px;
        margin: 0 auto;
        justify-content: space-between;
        &_item{
            width: 40px;
            height: 40px;
            &-img{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__descr{
        margin-top: 45px;
        margin-bottom: 123px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        color:#828282;
    }
}
.center{
    transform: rotate(90deg);
}