.nav{
    margin: 0 auto;
    height: auto;
    &__wrapper{
        list-style-type: none;
        margin-top: 32px;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        padding-bottom: 32px;
        padding-left: 0;
        border-bottom: 1px solid #828282;
    }
    &_item{
        :hover, :focus{
            content: '';
            color:#070707;
        }
        &-link{
            text-decoration: none;
            color: #828282;
        }
    }
}