@media (max-width: 1200px) {
    .container {
        max-width: 960px;
        max-width: 98vw;
    }
    .carousel__wrapper {
        max-width: 900px;
    }
    .carousel__item-text {
        font-size: 22px;   
    }
    .rating__wrapper {
        max-width: 900px;
    }
    .rules__wrapper {
        margin: 0 auto;
        width: 98vw;
    }
    .video__wrapper{
        width: 98vw;
    }
    .footer__links-item {
        margin-bottom: 23px;
        margin-left: 20px;
    }
    .carousel__item-img img {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
        max-width: 98vw;
    }
    .nav__item{
        font-size: 15px;
        line-height:none;
    }
    .nav__item-items {
        margin-right: 25px;
    }
    .header__title {
        font-size: 51px;
    }
    .header_wrapper-bird-one {
        display: none;
    }
    .header_plant{
        display: none;
    }
    .header__form {
        width: 720px;
    }
    .header__form-form .form-date-in {
        width: 140px;
        font-size: 15px;
    }
    .header__form-form .form-date-out{
        width: 140px;
        font-size: 15px;
    }
    .header__form-form .form-guest{
        width: 140px;
        font-size: 15px;
    }
    .header__form-form .header__btn{
        margin-left: 5px;
    }
    .wrapper-bird-two img{
        display: none;
    }
    .header {
        min-height: 620px;
    }
    .carousel__item-text {
        font-size: 17px;
        margin: 10px 22px 10px 19px;
    }
    .wrapper_bird_tree img {
        display: none;
    }
    .about {
        margin-top: 50px;
    }
    .rating {
        margin-top: 150px;
    }
    .contacts .birdi {
        display: none;
    }
    .footer {
        margin: 0 auto;
        margin-top: 200px;
    }
    .footer__subtitle {
        margin-top: 70px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
        max-width: 98vw;
    }
    .nav__item {
        font-size: 11px;
        line-height: 9px;
    }
    .nav__item-items {
        margin-right: 18px;
    }
    .nav__item-img {
        padding: 0;
        width: 117px;
        height: auto;
    }
    .nav__item :nth-child(4) {
        margin-right: 40px;
        margin-left: 17px;
    }
    .header__form {
        width: 515px;
        height: auto;
    }
    .header__form-form .header__btn {
        margin: 0 auto;
        display: block;
        height: 55px;
    }
    .about__title {
        font-size: 65px;
    }
    .about__subtitle {
        margin-top: 33px;
        font-weight: 400;
        font-size: 22px;
    }
    .carousel__item-text {
        font-size: 12px;
        margin: 0px 22px 0px 19px;
    }
    .rating__items_item {
        font-size: 15px;
    }
    .price__title {
        font-size: 65px;
    }
    .price__form-form .form-date-in {
       
        margin-left: 0;
    }
    .price__form-form .form-date-out {
        margin-left: 0;
        margin-top: 5px;
    }
    .price__form-form .form-guest{
        margin-left: 0;
        margin-top: 5px;
    }
    .price__order-img_item {
        width: 100%;
    }
    .rules__title {
        font-size: 59px;
    }
    .rules {
        margin-top: 50px;
    }
    .rules_btn {
        font-size: 27px;
    }
    .video__title {
        font-size: 65px;
    }
}
@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .nav__item {
        font-size: 12px;
        line-height: 11px;
        flex-wrap: wrap;
        flex-direction: column;
        z-index: 1;
    }
    .header_wrapper-back {
        position: absolute;
        /* text-align: center; */
        left: 0px;
        top: 107px;
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 0 auto;
    }
    .header__title {
        font-size: 30px;
        
    }
    .header__form {
        width: 200px;
    }
    .header__form-form {
        margin-top: 6px;
    }
    .header__form-form .form-date-in {
        margin: 2px auto;
        margin-left: 40px;
        width: 120px;
        font-size: 11px;
        height: 25px;
    }
    .header__form-form .form-date-out{
        width: 120px;
        font-size: 11px;
        margin: 2px auto;
        margin-left: 40px;
        height: 25px;
    }
    .header__form-form .form-guest{
        width: 120px;
        font-size: 11px;
        margin: 2px auto;
        margin-left: 40px;
        height: 25px;
    }
    .header__form-form .header__btn{
        height: 25px;
        font-size: 10px;
        width: 140px;
    }
    .header{
        min-height: 350px;
    }
    .header__title{
        font-size: 26px;
    }
    .about__title {
        font-size: 45px;
    }
    .about {
        margin-top: 25px;
        min-height:auto ;
    }
    .about__subtitle {
        margin-top: 18px;
        font-weight: 400;
        font-size: 12px;
    }
    .carousel__item-text {
        font-size: 11px;
        margin: 0px 5px 0px 5px;
        line-height: 11px;
    }
    .dot {
        height: 15px;
        width: 15px;
    }
    .dot-container {
        margin-top: 14px;
    }
    .rating {
        margin-top: 100px;
    }
    .rating__wrapper {
        max-width: 300px;
    }
    .rating__items {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .rating__items_item {
        font-size: 10px;
    }
    .price__title {
        font-size: 45px;
    }
    .price {
        margin-top: 100px;
    }
    .price__form-form .form-date-in {
        height: 60px;
        font-size: 17px;
    }
    .price__form-form .form-date-out {
        height: 60px;
        font-size: 17px;
    }
    .price__form-form .form-guest{
        height: 60px;
        font-size: 17px;
    }
    .price__order-title {
        padding-left: 2px;
        font-size: 15px;
    }    
    .price__order-guest-img_img {
        width: 30px;
        height: 30px;
    }
    .price__order-guest-text {
        font-size: 15px;
    }
    .price__order-place-img_img {
        width: 30px;
        height: 30px;
    }
    .price__order-place-text {
        font-size: 15px;
    }
    .price__btn {
        width: 230px;
        height: 50px;
        font-size: 16px;
    }
    .price__order {
        margin: 20px ;
    }
    .price__block {
        margin: 0 auto;
        margin-top: 67px;
        max-width: 662px;
        max-height: 415px;
    }
    .rules__title {
        font-size: 32px;
    }
    .rules_btn {
        font-size: 14px;
        padding: 3px;
    }
    .rules__wrapper {
        width: 89vw;
    }
    .video__title {
        font-size: 39px;
    }
    .video {
        margin-top: 100px;
    }
    .video__item video {
        width: 280px;
        height: 280px;
    }
    .video__wrapper{
        justify-content: space-between;
    }
    .contacts__title {
        font-size: 41px;
    }
    .contacts {
        margin-top: 100px;
    }
    .contacts__wrapper {
        margin-top: 45px;
        max-width: 320px;
    }
    .contacts__item-text {
        font-size: 13px;
    }
    .contacts__item-img {
        width: 40px;
        height: 40px;
        img, svg {
            vertical-align: middle;
            width: 100%;
            height: 100%;
        }
    }
    .footer {
        margin-top: 100px;
        font-size: 16px;
    }
    .footer__links {
        padding-top: 30px;
    }
    .footer__subtitle {
        margin-top: 55px;
    }
}